<h2>Users</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>phone</th>
      <th>birthdate</th>
      <th>gender</th>
      <th>rol</th>
      <th>email</th>
      <th>password</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.birthdate}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.rol}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>
        <button (click)="actualizarUser(user.idUser)" class="btn btn-info">Edit</button>
        <button (click)="eliminarUser(user.idUser)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
        <button (click)="verDetallesUser(user.idUser)" class="btn btn-primary" style="margin-left: 10px">Details</button>
      </td>
    </tr>
  </tbody>

</table>
