<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Add User</h3>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label>Name: </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name"
              required="true" minlength="3" maxlength="20" placeholder="Ingrese nombre" #name ="ngModel">

      <div class="alert alert-danger" *ngIf= "name.invalid && (name.dirty || name.touched)">
        <div *ngIf = "name.errors.required">
          Enter your name!
        </div>
        <div *ngIf = "name.errors.minlength">
          Name must contain at least 3 characters
        </div>
        <div *ngIf = "name.errors.maxlength">
          Name must contain a maximum of 20 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Last Name: </label>
      <input type="text" class="form-control" id="lastname" [(ngModel)]="user.lastname" name="lastname"
              required="true" minlength="3" maxlength="20" placeholder="Ingrese apellido" #apellido ="ngModel">

      <div class="alert alert-danger" *ngIf= "apellido.invalid && (apellido.dirty || apellido.touched)">
        <div *ngIf = "apellido.errors.required">
          Enter your last name!
        </div>
        <div *ngIf = "apellido.errors.minlength">
          last name must contain at least 3 characters
        </div>
        <div *ngIf = "apellido.errors.maxlength">
          Last name must contain a maximum of 20 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Phone: </label>
      <input type="text" class="form-control" id="phone" [(ngModel)]="user.phone" name="phone"
              required="true" pattern="[0-9]{10}" placeholder="Ingrese telefono" #phone ="ngModel">

      <div class="alert alert-danger" *ngIf= "phone.invalid && (phone.dirty || phone.touched)">
        <div *ngIf = "phone.errors.required">
          Enter your phone number!
        </div>
        <div *ngIf = "phone.errors.pattern">
          The phone number must contain 10 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Birthdate: </label>
      <input type="text" class="form-control" id="birthdate" [(ngModel)]="user.birthdate" name="birthdate"
              required="true" placeholder="Ingrese birthdate" #birthdate ="ngModel">

      <div class="alert alert-danger" *ngIf= "birthdate.invalid && (birthdate.dirty || birthdate.touched)">
        <div *ngIf = "birthdate.errors.required">
          Enter your birthdate!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Gender: </label>
      <input type="text" class="form-control" id="gender" [(ngModel)]="user.gender" name="gender"
            required="true" placeholder="Ingrese gender" #gender ="ngModel">

      <div class="alert alert-danger" *ngIf= "gender.invalid && (gender.dirty || gender.touched)">
        <div *ngIf = "gender.errors.required">
          Enter your gender!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Rol: </label>
      <input type="text" class="form-control" id="rol" [(ngModel)]="user.rol" name="rol"
              required="true" placeholder="Ingrese rol" #rol ="ngModel">

      <div class="alert alert-danger" *ngIf= "rol.invalid && (rol.dirty || rol.touched)">
        <div *ngIf = "rol.errors.required">
          Enter your rol!
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Email: </label>
      <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required="true" placeholder="Ingrese email" #email ="ngModel">

      <div class="alert alert-danger" *ngIf= "email.invalid && (email.dirty || email.touched)">
        <div *ngIf = "email.errors.required">
          Enter your email!
        </div>
        <div *ngIf = "email.errors.pattern">
          Enter your email in the following format: user100@gmail.com
        </div>

      </div>
    </div>

    <div class="form-group">
      <label>Password: </label>
      <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password"
              required="true" placeholder="Ingrese password" #password ="ngModel">

      <div class="alert alert-danger" *ngIf= "password.invalid && (password.dirty || password.touched)">
        <div *ngIf = "password.errors.required">
          Enter your password!
        </div>
      </div>
    </div>

    <br>
    <button class="btn btn-success" [disabled]= "!userForm.form.valid">Save</button>
  </form>
</div>
