<h3>User details</h3>
<div>
  <div>
    <label><b>ID:</b> {{user.idUser}} </label>
  </div>
  <div>
    <label><b>Name:</b> {{user.name}} </label>
  </div>
  <div>
    <label><b>Last Name:</b> {{user.lastname}} </label>
  </div>
  <div>
    <label><b>Phone:</b> {{user.phone}} </label>
  </div>
  <div>
    <label><b>Birthdate:</b> {{user.birthdate}} </label>
  </div>
  <div>
    <label><b>Gender:</b> {{user.gender}} </label>
  </div>
  <div>
    <label><b>Rol:</b> {{user.rol}} </label>
  </div>
  <div>
    <label><b>Email:</b> {{ user.email }} </label>
  </div>
  <div>
    <label><b>Password:</b> {{user.password}} </label>
  </div>

</div>
